<div class="text-center"><h1 style="color:#fff">Register User</h1></div>
  
  <table class="table">
    <thead class="thead-light">
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Date Of Birth</th>
        <th scope="col">Instrument</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">1</th>
        <td>{{user.name}}</td>
        <td>{{user.dob}}</td>
        <td>{{user.instrument}}</td>
      </tr>
      
    </tbody>
  </table>